{
	admin off
	auto_https off
}

:8000 {
	log
	handle /health {
		log_skip
		respond 200
	}
	@dir path_regexp ^(.*)/$
	rewrite @dir {re.1}/index.html
	reverse_proxy https://{$S3_BUCKET}.s3.{$AWS_REGION}.amazonaws.com {
		transport s3 {
			compression off
		}
	}
}
